version: '3.8'

services:
  gateway:
    image: ghcr.io/jeanpzh/rosario-academy-backend-gateway:latest
    restart: always
    env_file: .env
    ports:
      - "8000:8000"
    networks:
      - backend
    depends_on:
      - redis

  auth-service:
    image: ghcr.io/jeanpzh/rosario-academy-backend-auth-service:latest
    restart: always
    env_file: .env
    networks:
      - backend

  user-service:
    image: ghcr.io/jeanpzh/rosario-academy-backend-user-service:latest
    restart: always
    env_file: .env
    environment:
      - KAFKA_BROKERS=redpanda:29092
    networks:
      - backend

  payment-service:
    image: ghcr.io/jeanpzh/rosario-academy-backend-payment-service:latest
    restart: always
    env_file: .env
    environment:
      - KAFKA_BROKERS=redpanda:29092
    networks:
      - backend
    depends_on:
      - redis
      - redpanda

  redis:
    image: redis:7.2-alpine
    restart: always
    networks:
      - backend
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v23.3.1
    restart: always
    command:
      - redpanda start
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --overprovisioned
      - --node-id 0
      - --check=false
      - --kafka-addr PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
      - --advertise-kafka-addr PLAINTEXT://redpanda:29092,OUTSIDE://localhost:9092
      - --pandaproxy-addr 0.0.0.0:8082
      - --advertise-pandaproxy-addr localhost:8082
    ports:
      - "9092:9092"
      - "8081:8081"
    networks:
      - backend
    volumes:
      - /var/lib/redpanda:/var/lib/redpanda/data
    healthcheck:
      test: ["CMD-SHELL", "rpk cluster health | grep -E 'Healthy|OK'"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  backend:
    driver: bridge

volumes:
  redis_data:
  redpanda_data: