name: Deploy Rosario Backend

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**' 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        service: [gateway, auth-service, user-service, payment-service]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          target: ${{ matrix.service }}
          push: true
          tags: ghcr.io/jeanpzh/rosario-academy-backend-${{ matrix.service }}:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy Compose File
        uses: appleboy/scp-action@v1
        with:
          debug: true
          host: ${{ secrets.DROPLET_IP }}
          username: ${{ secrets.DROPLET_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          source: "backend/docker-compose.yml"
          target: "/root/rosario-app"
          strip_components: 1

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          debug: true
          host: ${{ secrets.DROPLET_IP }}
          username : ${{ secrets.DROPLET_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script_stop: true 
          script: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            cd /root/rosario-app

            echo "${{ secrets.ENV_FILE_PROD }}" > .env

            docker compose -f docker-compose.yml pull
            
            docker compose -f docker-compose.yml up -d --remove-orphans
            
            docker image prune -f

